<aside
    class="relative flex flex-col flex-shrink-0 order-first w-full p-2 md:max-h-screen md:sticky md:py-12 gap-5 top-0 md:max-w-[15%]">
    <button class="btn btn-square md:hidden absolute right-0 top-0 z-10 cursor-pointer" type="button" id="toggle-menu"
        aria-label="Toggle Menu" onclick="document.getElementById('main-menu').classList.toggle('hidden');">


        {{ partial "helper/icon" "menu" }}


    </button>

    <header class="flex flex-col items-center md:items-start gap-4">
        {{ with .Site.Params.sidebar.avatar }}
        {{ if (default true .enabled) }}
        <figure class="avatar">
            <div class="w-24 rounded-full">
                <a href="{{ .Site.BaseURL | relLangURL }}">
                    {{ if not .local }}
                    <img src="{{ .src }}" width="300" height="300" class="site-logo" loading="lazy" alt="Avatar">
                    {{ else }}
                    {{ $avatar := resources.Get (.src) }}

                    {{ if $avatar }}
                    {{ $avatarResized := $avatar.Resize "300x" }}
                    <img src="{{ $avatarResized.RelPermalink }}" width="{{ $avatarResized.Width }}"
                        height="{{ $avatarResized.Height }}" class="site-logo" loading="lazy" alt="Avatar">
                    {{ else }}
                    {{ errorf "Failed loading avatar from %q" . }}
                    {{ end }}
                    {{ end }}
                </a>
            </div>
        </figure>
        {{ end }}
        {{ end }}

        <div class="flex flex-col gap-2.5 justify-center text-center md:text-left">
            <h1 class="text-lg text-primary"><a href="{{ .Site.BaseURL | relLangURL }}">{{ .Site.Title }}</a></h1>
            <h2 class="text-sm">{{ .Site.Params.sidebar.subtitle }}</h2>
        </div>
    </header>

    {{- with .Site.Menus.social -}}
    <ol class="mx-auto menu menu-sm menu-horizontal bg-base-200 rounded-box mt-6">
        {{ range . }}
        <li>
            <a href='{{ .URL }}' class="tooltip" {{ with .Name }}data-tip="{{ . }}" {{ end }} {{ if eq (default true .Params.newTab) true }}target="_blank" {{ end }}
                {{ with .Name }}title="{{ . }}" {{ end }} rel="me">
                {{ $icon := default "link" .Params.Icon }}
                {{ with $icon }}
                {{ partial "helper/icon" . }}
                {{ end }}
            </a>
        </li>
        {{ end }}
    </ol>
    {{- end -}}

    <ol class="hidden menu bg-base-200 w-full md:flex flex-col gap-6" id="main-menu">
        {{ $currentPage := . }}
        {{ range .Site.Menus.main }}
        {{ $active := or (eq $currentPage.Title .Name) (or ($currentPage.HasMenuCurrent "main" .) ($currentPage.IsMenuCurrent "main" .)) }}
        <li>
            <a href='{{ .URL }}' {{ if eq .Params.newTab true }}target="_blank" {{ end }}>
                {{ $icon := default .Pre .Params.Icon }}
                {{ if .Pre }}
                {{ warnf "Menu item [%s] is using [pre] field to set icon, please use [params.icon] instead.\nMore information: https://stack.jimmycai.com/config/menu" .URL }}
                {{ end }}
                {{ with $icon }}
                {{ partial "helper/icon" . }}
                {{ end }}
                {{- .Name -}}
            </a>
        </li>
        {{ end }}
        <li class="menu-bottom-section">
            <ol class="menu">
                {{- $currentLanguageCode := .Language.Lang -}}
                {{ if ( compare.Gt .Site.Home.AllTranslations.Len 1 ) }}
                {{ with .Site.Home.AllTranslations }}
                <li id="i18n-switch">
                    {{ partial "helper/icon" "language" }}
                    <select name="language" title="language"
                        onchange="window.location.href = this.selectedOptions[0].value">
                        {{ range . }}
                        <option value="{{ .Permalink }}"
                            {{ if eq .Language.Lang $currentLanguageCode }}selected{{ end }}>
                            {{ .Language.LanguageName }}</option>
                        {{ end }}
                    </select>
                </li>
                {{ end }}
                {{ end }}

                {{ if (default false .Site.Params.colorScheme.toggle) }}

                    <label class="flex cursor-pointer gap-2">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="20"
                          height="20"
                          viewBox="0 0 24 24"
                          fill="none"
                          stroke="currentColor"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round">
                          <circle cx="12" cy="12" r="5" />
                          <path
                            d="M12 1v2M12 21v2M4.2 4.2l1.4 1.4M18.4 18.4l1.4 1.4M1 12h2M21 12h2M4.2 19.8l1.4-1.4M18.4 5.6l1.4-1.4" />
                        </svg>
                        <input type="checkbox" value="abyss" class="toggle theme-controller" />
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="20"
                          height="20"
                          viewBox="0 0 24 24"
                          fill="none"
                          stroke="currentColor"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round">
                          <path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z"></path>
                        </svg>
                      </label>

                {{ end }}
                {{ partial "theme.html" }}
            </ol>
        </li>
    </ol>
</aside>
