{{- $context := .Context -}}
{{- $limit := default 10 .Params.limit -}}
<section class="card card-sm">
    <div class="card-body">
        <div class="flex gap-2">
            <div class="badge badge-lg">
                {{ partial "helper/icon" "tag" }}
            </div>
            <h2 class="card-title">{{ T "widget.tagCloud.title" }}</h2>
        </div>

        <div class="tagCloud-tags">
            {{ range first $limit $context.Site.Taxonomies.tags.ByCount }}
            <a class="link badge badge-soft badge-primary badge-lg" href="{{ .Page.RelPermalink }}" class="font_size_{{ .Count }}">
                {{ .Page.Title }}
            </a>
            {{ end }}
        </div>
    </div>
</section>