{{/* layouts/partials/creator/skills.html */}}
<div class="skills-container">
    <h3 class="skills-heading text-lg font-medium mb-2">Skills</h3>
    
    {{/* Display Common Skills with Icons */}}
    {{ with .Params.common_skills }}
    <div class="common-skills mb-3">
        <div class="flex flex-wrap gap-2">
            {{ range . }}
            <div class="badge badge-outline badge-lg">
              {{. }}
            </div>
            {{ end }}
        </div>
    </div>
    {{ end }}
    
    {{/* Display Other Skills (text only) */}}
    {{ with .Params.other_skills }}
    <div class="other-skills">
        <div class="flex flex-wrap gap-2">
            {{ range . }}
            <span class="skill-badge badge badge-outline badge-lg">
                <span class="skill-text text-sm">{{ . }}</span>
            </span>
            {{ end }}
        </div>
    </div>
    {{ end }}
</div>
